[
  {
    "targets": ["cadvisor:8080"],
    "labels": {
      "instance": "{{ inventory_hostname }}",
      "role": "monitoring"
    }
  }{{ "," if (groups['role_app'] | default([])) | length > 0 }}
  {% for host in groups['role_app'] | default([]) %}
  {
    "targets": ["{{ hostvars[host].private_ip_address }}:8080"],
    "labels": {
      "instance": "{{ host }}",
      "role": "app"
    }
  }{{ "," if not loop.last }}
  {% endfor %}
]
