[
  {% for host in groups['role_app'] | default([]) %}
  {
    "targets": ["{{ hostvars[host].private_ip_address }}:80"],
    "labels": {
      "instance": "{{ host }}",
      "service": "weather-app"
    }
  }{{ "," if not loop.last }}
  {% endfor %}
]
